scipy==1.6.0
tqdm==4.56.0
PuLP==2.4
pyopenms==2.6.0
notebook==6.2.0
numpy==1.19.5
openms==3.6.1
IsoSpecPy==2.1.1
typer==0.3.2
scipy==1.6.0
matplotlib==3.3.3
molmass==2020.6.10
pip-tools
black==20.8b1
isort==5.4.2
flake8==3.8.4
pytest
pre-commit